<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container">
      <main>
        <div class="heading"><h2>Home</h2></div>
        <div class="text">
          <p>
            Welcome to our secure authentication application built on
            Express.js, Node.js, and MongoDB! This project features a Home Page,
            a Login Page, and a Sign-Up Page, ensuring a straightforward user
            experience. With bcrypt 10 technology, your data is securely
            encrypted, making our application a reliable choice for all your
            authentication needs.
          </p>
        </div>
        <div class="button">
          <a href="./login">Login here</a>
          <a href="./signup">Register here</a>
        </div>
      </main>
    </div>
</body>